#inspection-details {
    p{
        font-weight: bold;
    }
    .mat-dialog-title {
        margin: -24px -24px 20px;
        display: block;
    }
    .load-spinner {
        display: flex;
        justify-content: center;
    }
}