#consult-files {
    .search-btn {
        margin: -18px 0 0 8px;
    }
}
::ng-deep.ngx-datatable .datatable-row-right .datatable-body-cell .datatable-body-cell-label{
    margin-left: auto !important;
    margin-right: auto !important;
 }
 .color-required{
     color: red !important;
 }

 