@import "src/@fuse/scss/fuse";

toolbar {
    position: relative;
    display: flex;
    flex: 0 0 auto;
    z-index: 4;
    
    &.below {
        z-index: 2;
    }

    .mat-toolbar {
        position: relative;
        background-color: #2f376d !important;
        color: white !important;
    }

    .logo {
        display: flex;
        align-items: center; 
        .logo-icon {
            width: 38px;
        }
        @include media-breakpoint('xs') {
            .logo-icon {
                width: 30px;  // Reducir el tamaño del logo para pantallas pequeñas
            }
    }
    .logo-margin {
        margin-right: 50px;

        @include media-breakpoint('xs') {
            margin-right: 20px;  // Reducir el margen en pantallas pequeñas
        }

        @include media-breakpoint('md') {
            margin-right: 150px;  // Ajustar el margen para pantallas medianas
        }
    }
    mat-toolbar .logos-container {
        display: flex;
        justify-content: space-between;
    
        a {
            flex: 1;
            display: flex;
            justify-content: center;
            img {
                max-width: 90%; // Reduce el tamaño del logo
                height: auto;
            }
    
            &:not(:last-child) {
                margin-right: 10px; // Reduce el margen entre logos
            }
        }
    }
    
    


    }.logos-container {
        padding-top: 20px; /* Espacio arriba */
        padding-bottom: 20px; /* Espacio abajo */
        max-width: 80%;
        margin-left: 1%;
    }
    .logos-container {
        margin-top: 20px; /* Espacio arriba */
        margin-bottom: 20px; /* Espacio abajo */
        max-width: 80%;
        margin-left: 1%;
    }

    .logo-margin {
        margin-right: 50px;

        @include media-breakpoint('xs') {
            margin-right: 20px;  // Reducir el margen en pantallas pequeñas
        }

        @include media-breakpoint('md') {
            margin-right: 150px;  // Ajustar el margen para pantallas medianas
        }
    }
    .user-button,
    fuse-search-bar,
    .language-button,
    .chat-panel-toggle-button,
    .quick-panel-toggle-button {
        min-width: 64px;
        height: 64px;

        @include media-breakpoint('xs') {
            height: 56px;
        }
    }

    .navbar-toggle-button {
        min-width: 56px;
        height: 56px;
        color: white;
        cursor: pointer;

        .logo-icon{
            width: 45px;
            margin-top: 10px;
            margin-left: 5px;
        }
    }

    .toolbar-separator {
        height: 64px;
        width: 1px;
        background:  #808b96 !important;

        @include media-breakpoint('xs') {
            height: 56px;
        }
    }

    
}