<div
    *ngIf="!showSubtitle"
    class="header system-info p-20 h-80"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayout.gt-xs="row"
    fxLayoutAlign.gt-xs="space-between center"
>
    La información diligenciada en esta sección puede ser accedida y
    editada en cualquier momento de la inspección, adicionalmente será
    visualizada al final de la inspección para su confirmación y cierre.
</div>
<div class="content py-16">
    <div class="subtitle" *ngIf="showSubtitle">Deficiencias</div>    
    <div fxLayout="row" fxLayout="start space-between" *ngIf="!finalState">
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Descripción deficiencia</mat-label>
            <textarea matInput
                cdkTextareaAutosize
                cdkAutosizeMinRows="2"
                cdkAutosizeMaxRows="2"
                [(ngModel)]="deficiencyDescription">
            </textarea>
        </mat-form-field>
        <div class="pt-20 pl-8 action-btn">
            <button
                mat-raised-button
                color="accent"
                *ngIf="!isLoading"
                [disabled]="!deficiencyDescription"
                (click)="add()"
            >
                {{ "SHARED.ADD" | translate }}
            </button>
            <mat-spinner diameter="40" *ngIf="isLoading"></mat-spinner>
        </div>
    </div>
    <h2 *ngIf="inspection.deficiencies?.length > 0">Listado de deficiencias</h2>
    <div fxLayout="row" fxLayout="start space-between" *ngFor="let deficiency of inspection.deficiencies">
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>{{ "SHARED.DESCRIPTION" | translate }}</mat-label>
            <input matInput [(ngModel)]="deficiency.description" [readonly]="finalState" />
        </mat-form-field>
        <div class="pt-16 pl-8 action-btn" *ngIf="!finalState">
            <div  *ngIf="!deficiency.isSaving">
                <button mat-icon-button color="accent" (click)="saveDeficiency(deficiency, 'U')">
                    <mat-icon>save</mat-icon>
                </button>
                <button mat-icon-button color="warn"  (click)="saveDeficiency(deficiency, 'D')">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>                    
            <mat-spinner diameter="40" *ngIf="deficiency.isSaving"></mat-spinner>
        </div>
    </div>
</div>