.tabla{
    
    border-spacing: 70px 15px;
    border-style: solid;
}

p{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.text-primary{
    font-size: medium;
}

.text-secundary{
    font-size: small;
    margin: 0px 80px;
}


.button-container{
    float: right;
    margin: 0px 30px 0px 0px;
}

.button{
    margin-right: 25px;
}

.mat-elevation-z8{
    width: 100%;
}
  