<div *ngIf="isLoading" class="load-spinner">
    <mat-spinner diameter="70"></mat-spinner>
</div>
<div id="file-detail" class="page-layout simple fullwidth" *ngIf="!isLoading">
    <span class="mat-title px-24 py-12 m-0 doNotPrint">{{'FILES.FILE' | translate}}
        {{dataDetailId.RegistrationNumber}}</span>
    <div class="content p-24 doNotPrint">
        <div class="card-header">
            <h1>{{'FILES.HEADER_DETAIL' | translate}}</h1>
        </div>
        <div fxLayout="column">
            <form name="detail" [formGroup]="formDetail" novalidate class="mat-card mat-elevation-z4 p-24"
                fxLayout="column" fxLayoutAlign="center" fxFlex="1 0 auto">
                <div fxFill fxLayout="column" fxFlex="100" class="pr-4">
                    <div fxFlex fxLayout>
                        <div fxLayout="column" fxFlex="25">
                            <div *ngIf="shipImage == undefined" id="silverfox">
                                <img src="assets/images/avatars/ship.jpg">
                            </div>
                            <div *ngIf="shipImage != undefined">
                                <img [src]="shipImage">
                            </div>
                        </div>

                        <div fxLayout="column" fxFlex="75" class="p-8">
                            <div fxLayout="row" fxLayoutAlign="end" fxFlex="100">
                                <mat-form-field appearance="outline" fxFlex="34" class="space">
                                    <mat-label>{{'FILES.NAME' | translate}}</mat-label>
                                    <input matInput type="input" formControlName="ShipName" readonly>
                                </mat-form-field>
                                <mat-form-field appearance="outline" fxFlex="34" class="space">
                                    <mat-label>{{'FILES.ENROLLMENT' | translate}}</mat-label>
                                    <input matInput type="input" formControlName="RegistrationNumber" readonly>
                                </mat-form-field>
                                <mat-form-field appearance="outline" fxFlex="34" class="space">
                                    <mat-label>{{'FILES.PORT_REGISTRATION' | translate}}</mat-label>
                                    <input matInput type="input" formControlName="RegistrationPort" readonly>
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="end" fxFlex="100">
                                <mat-form-field appearance="outline" fxFlex="34" class="space">
                                    <mat-label>{{'FILES.OWNERS' | translate}}</mat-label>
                                    <input matInput type="input" formControlName="Owner" readonly>
                                </mat-form-field>
                                <mat-form-field appearance="outline" fxFlex="34" class="space">
                                    <mat-label>{{'FILES.NUMBER_OMI_NIC' | translate}} </mat-label>
                                    <input matInput type="input" formControlName="OmiNic" readonly>
                                </mat-form-field>
                                <mat-form-field appearance="outline" fxFlex="34" class="space">
                                    <mat-label>MMSI</mat-label>
                                    <input matInput type="input" formControlName="Mmsi" readonly>
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="start" fxFlex="100">
                                <mat-form-field appearance="outline" fxFlex="33" class="p-4">
                                    <mat-label>{{'FILES.YEAR_CONSTRUCTION' | translate}}</mat-label>
                                    <input matInput type="input" formControlName="BuiltDate" readonly>
                                </mat-form-field>
                                <mat-form-field appearance="outline" fxFlex="34" class="p-4">
                                    <mat-label>{{'FILES.ESLORA' | translate}}</mat-label>
                                    <input matInput type="input" formControlName="Length" readonly>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
                <div fxFill fxLayout="column" fxFlex="100" class="pr-4">
                    <div fxLayout="row" fxLayoutAlign="end" fxFlex="100" class="p-8">
                        <mat-form-field appearance="outline" fxFlex="25" class="space">
                            <mat-label>{{'FILES.GROUP' | translate}}</mat-label>
                            <input matInput type="input" formControlName="Group" readonly>
                        </mat-form-field>
                        <mat-form-field appearance="outline" fxFlex="25" class="space">
                            <mat-label>{{'FILES.SUBGROUP' | translate}}</mat-label>
                            <input matInput type="input" formControlName="Subgroup" readonly>
                        </mat-form-field>
                        <mat-form-field appearance="outline" fxFlex="25" class="space">
                            <mat-label>{{'FILES.NAVIGATION_TYPE' | translate}}</mat-label>
                            <input matInput type="input" formControlName="NavegationType" readonly>
                        </mat-form-field>
                        <mat-form-field appearance="outline" fxFlex="25" class="space">
                            <mat-label>{{'FILES.TYPE_OF_TRAFFIC' | translate}}</mat-label>
                            <input matInput type="input" formControlName="TrafficType" readonly>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start" fxFlex="100" class="p-8">
                        <mat-form-field appearance="outline" fxFlex="25" class="space">
                            <mat-label>{{'FILES.STATUS' | translate}}</mat-label>
                            <input matInput type="input" formControlName="OperationStatus" readonly>
                        </mat-form-field>
                        <mat-form-field appearance="outline" fxFlex="25" class="space">
                            <mat-label>{{'FILES.GROSS_TONNAGE' | translate}}</mat-label>
                            <input matInput type="input" formControlName="GrossTonnage" readonly>
                        </mat-form-field>
                        <mat-form-field appearance="outline" fxFlex="25" class="space">
                            <mat-label>{{'FILES.NET_TONNAGE' | translate}}</mat-label>
                            <input matInput type="input" formControlName="NetTonnage" readonly>
                        </mat-form-field>
                        <mat-form-field appearance="outline" fxFlex="25" class="space">
                            <mat-label>{{'FILES.DEAD_WEIGHT' | translate}}</mat-label>
                            <input matInput type="input" formControlName="DeadWeight" readonly>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start" fxFlex="100" class="p-8">
                        <mat-form-field appearance="outline" fxFlex="25" class="space">
                            <mat-label>{{'FILES.CALL_SIGN' | translate}}</mat-label>
                            <input matInput type="input" formControlName="Letters" readonly>
                        </mat-form-field>
                        <mat-form-field appearance="outline" fxFlex="25" class="space">
                            <mat-label>{{'FILES.SLEEVE' | translate}}</mat-label>
                            <input matInput type="input" formControlName="Sleeve" readonly>
                        </mat-form-field>
                        <mat-form-field appearance="outline" fxFlex="25" class="space">
                            <mat-label>{{'FILES.PROPULSION_SYSTEM' | translate}}</mat-label>
                            <input matInput type="input" formControlName="PropulsionType" readonly>
                        </mat-form-field>
                        <mat-form-field appearance="outline" fxFlex="25" class="space">
                            <mat-label>{{'FILES.POWER_PROPULSION_SYSTEM' | translate}}</mat-label>
                            <input matInput type="input" formControlName="Power" readonly>
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start" fxFlex="100" class="p-8">
                    <div fxFlex="70" [ngClass]="typeMessage ? 'message-box success' : 'message-box warning'">
                        {{message}}
                    </div>
                    <div fxFlex="20" fxLayoutAlign="end center">
                        <button mat-raised-button color="accent" class="submit-button"
                            (click)="windowPrint()">{{'FILES.PRINT_DETAIL' | translate}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="content p-24 doNotPrint" *ngIf="dataDetail != null">

        <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4 tab-blue" style="background: white;" (selectedTabChange)="tabChanged($event)">
            <mat-tab label="Consultar">
                <app-query-files [ship]="dataDetail"></app-query-files>
            </mat-tab>
            <mat-tab label="Cargar">
                <app-load-files [ship]="dataDetail"></app-load-files>
            </mat-tab>

            <mat-tab  label = "Documentos">
                <div fxLayout="column">
                    <form novalidate class="mat-card mat-elevation-z4 no-padding">
                        <div class="tab-documentos">
                            <mat-tab-group >
                                <mat-tab label="Matrícula">
                                    <app-uploaded-files [ship]="dataDetail" [tabPanel]="'EnrollmentGrid'"></app-uploaded-files>
                                </mat-tab>
                                <mat-tab label="Inspecciones">
                                    <app-uploaded-files [ship]="dataDetail" [tabPanel]="'InspectionsGrid'"></app-uploaded-files>
                                </mat-tab>
                                <mat-tab label="Certificados">
                                    <app-uploaded-files [ship]="dataDetail" [tabPanel]="'CertificatesGrid'"></app-uploaded-files>
                                </mat-tab>
                                <mat-tab label="Modificaciones">
                                    <app-uploaded-files [ship]="dataDetail" [tabPanel]="'ModificationsGrid'"></app-uploaded-files>
                                </mat-tab>
                                <mat-tab label="Garantías y afectaciones">
                                    <app-uploaded-files [ship]="dataDetail" [tabPanel]="'LegalGrid'"></app-uploaded-files>
                                </mat-tab>
                                <mat-tab label="Comunicaciones oficiales">
                                    <app-uploaded-files [ship]="dataDetail" [tabPanel]="'ComunicationGrid'"></app-uploaded-files>
                                </mat-tab>
                            </mat-tab-group>
                        </div>
                    </form>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
    <app-detail-print *ngIf="print" [dataDetail]="dataDetail"></app-detail-print>
</div>